In [82]:
import folium
import folium.plugins as foliumplugins
import pandas as pd
import numpy as np

In [81]:
# for i in cities.columns:
#     print('\'{}\':,'.format(i))

In [97]:
cities = pd.read_csv('simplemaps_worldcities_basicv1.4/worldcities.csv')
cities = pd.concat([cities, pd.DataFrame([{'city':'Hvar',
                                        'city_ascii':'Hvar',
                                        'lat':43.175385,
                                        'lng':16.436683,
                                        'country':'Croatia',
                                        'iso2':'HR',
                                        'iso3':'HRV',
                                        'admin_name':'Hvar',
                                        'capital':'admin',
                                        'population':np.nan,
                                        'id':np.nan},
                                         {'city':'Opatija',
                                        'city_ascii':'Opatija',
                                        'lat':45.336988,
                                        'lng':14.306201,
                                        'country':'Croatia',
                                        'iso2':'HR',
                                        'iso3':'HRV',
                                        'admin_name':'Opatija',
                                        'capital':'admin',
                                        'population':np.nan,
                                        'id':np.nan},])])
cities[(cities.country == 'Senegal')].sort_values('city_ascii')#.city_ascii.values

,admin_name,capital,city,city_ascii,country,id,iso2,iso3,lat,lng,population
3047,Dakar,primary,Dakar,Dakar,Senegal,1.686605e+09,SN,SEN,14.7158,-17.4731,2604000.0
3050,Diourbel,admin,Diourbel,Diourbel,Senegal,1.686087e+09,SN,SEN,14.6604,-16.2400,148024.0
3053,Fatick,admin,Fatick,Fatick,Senegal,1.686097e+09,SN,SEN,14.3440,-16.4160,24243.0
3048,Matam,NaN,Kaédi,Kaedi,Senegal,1.686276e+09,SN,SEN,16.1500,-13.5000,21656.0
3057,Kaffrine,admin,Kaffrine,Kaffrine,Senegal,1.686807e+09,SN,SEN,14.1016,-15.5467,NaN
3054,Kaolack,admin,Kaolack,Kaolack,Senegal,1.686256e+09,SN,SEN,14.1500,-16.1000,277812.0
3058,Kédougou,admin,Kédougou,Kedougou,Senegal,1.686320e+09,SN,SEN,12.5604,-12.1800,18226.0
3055,Kolda,admin,Kolda,Kolda,Senegal,1.686220e+09,SN,SEN,12.9104,-14.9500,69267.0
3044,Louga,admin,Louga,Louga,Senegal,1.686270e+09,SN,SEN,15.6104,-16.2500,85075.0
3046,Matam,admin,Matam,Matam,Senegal,1.686920e+09,SN,SEN,15.6559,-13.2554,NaN
3049,Saint-Louis,admin,Saint-Louis,Saint-Louis,Senegal,1.686543e+09,SN,SEN,16.0186,-16.4906,NaN
3045,Sédhiou,admin,Sédhiou,Sedhiou,Senegal,1.686107e+09,SN,SEN,12.7081,-15.5569,NaN
3051,Tambacounda,admin,Tambacounda,Tambacounda,Senegal,1.686195e+09,SN,SEN,13.7804,-13.6800,89212.0
3052,Thiès,admin,Thiès,Thies,Senegal,1.686528e+09,SN,SEN,14.8104,-16.9300,293001.0
3056,Ziguinchor,admin,Ziguinchor,Ziguinchor,Senegal,1.686274e+09,SN,SEN,12.5900,-16.2900,191716.0

In [111]:
worked = {'Chicago, Illinois, United States':['DePaul University','Argonne National Lab','NowPow'],
          'Madison, Wisconsin, United States':['University of Wisconsin - Madison'],
          'Washington, District of Columbia, United States':['Universty of Marland - College Park'],
          'Orizaba, Mexico':['<a href=https://www.hawc-observatory.org/>HAWC Observatory</a>']          
         }


physics = ['Rio de Janeiro, Brazil' ,
           'San Carlos de Bariloche, Argentina',
           'Puerto Vallarta, Mexico',
           'Tuxtla Gutierrez, Mexico',
           'Mexico City, Mexico', 
           'Pachuca, Mexico',
           'Tlaxcala, Mexico',
           'Orizaba, Mexico', 
           'The Hague, Netherlands',
           'Paris, France', 
           'Aosta, Italy',
           'Salt Lake City, Utah, United States', 
           'East Lansing, Michigan, United States', 
           'Denver, Colorado, United States', 
           'College Park, Maryland, United States', 
           'Madison, Wisconsin, United States',
            'Houghton, Michigan, United States', 
           'Puebla, Mexico',
           'Savannah, Georgia, United States', 
           'Santa Fe, New Mexico, United States',
           'Baltimore, Maryland, United States', 
           'State College, Pennsylvania, United States',
           'Rochester, New York, United States',
           'Annapolis, Maryland, United States', 
            'Washington, District of Columbia, United States', 
           'Cuernavaca, Mexico', 
           'Fort Collins, Colorado, United States',
           'Atlanta, Georgia, United States']
            
travel = ['Rome, Italy','Milan, Italy','Florence, Italy','Athens, Greece', 
          'Dubrovnik, Croatia', 'Zagreb, Croatia','Split, Croatia','Opatija, Croatia','Hvar, Croatia',
          'Barcelona, Spain' ,
          'Denver, Colorado, United States',
          'Orlando, Florida, United States', 
          'New Orleans, Louisiana, United States',
          'Portland, Oregon, United States', 'Seattle, Washington, United States', 
          'Los Angeles, California, United States','San Francisco, California, United States', 'San Diego, California, United States',
          'Dakar, Senegal','Matam, Senegal']
    
nowpow = ['New York, New York, United States',
          'San Diego, California, United States',
          'Detroit, Michigan, United States',
          'Minneapolis, Minnesota, United States', 
          'Chicago, Illinois, United States']

places_dict = {
                'NowPow':[nowpow,'#1C2C54'],
                'Physics':[physics,'#69336F'],
                'Travel':[travel,'#417C7B'],
                'Worked':[worked,'#5F9BDB']
              }

In [89]:
# for city in sdoh:
#     print(city)
#     cityname=city.split(', ')[0]
#     country=city.split(', ')[1]

#     if len(city.split(', ')) > 2:
#         state=country
#         country=city.split(', ')[2]
#         df = cities[(cities.city_ascii==cityname)&(cities.admin_name==state)&(cities.country==country)]
#     else:
#         df = cities[(cities.city_ascii==cityname)&(cities.country==country)]

#     print(len(df))

In [90]:
def GetCityDF(city):
    cityname=city.split(', ')[0]
    country=city.split(', ')[1]

    if len(city.split(', ')) > 2:
        state=country
        country=city.split(', ')[2]
        df = cities[(cities.city_ascii==cityname)&(cities.admin_name==state)&(cities.country==country)]
    else:
        df = cities[(cities.city_ascii==cityname)&(cities.country==country)]
    return df.iloc[0]

In [77]:
# m = folium.Map(
#     location=[14.511940, -38.945430],
#     zoom_start=2
# )

# minimap = foliumplugins.MiniMap()
# m.add_child(minimap)


# mcg = folium.plugins.MarkerCluster(control=False)
# m.add_child(mcg)


# for key_type,val_places in places_dict.items():
#     subgroup = folium.plugins.FeatureGroupSubGroup(mcg, key_type)
#     m.add_child(subgroup)
#     if type(val_places[0])==list:
#         for place in val_places[0]:
#             citydf = GetCityDF(place)
#             folium.CircleMarker([citydf.lat, citydf.lng],
#                                 radius = 6,
#                                 fill=True,
#                                 fill_color=val_places[1],
#                                 color = val_places[1],
#                                 fill_opacity=0.7).add_to(subgroup)
#     elif type(val_places[0])==dict:
#         for place,sub_places in val_places[0].items:
#             citydf = GetCityDF(place)
#             folium.CircleMarker([citydf.lat, citydf.lng],
#                                 radius = 6,
#                                 fill=True,
#                                 fill_color=val_places[1],
#                                 color = val_places[1],
#                                 fill_opacity=0.7).add_to(subgroup)           
    

        

# l = folium.LayerControl().add_to(m)

# m.save('where-in-the-world.html')

In [116]:
m = folium.Map(
    location=[14.511940, -38.945430],
    zoom_start=2
)

minimap = foliumplugins.MiniMap()
m.add_child(minimap)

feature_group = folium.FeatureGroup(control=False)
m.add_child(feature_group)



for key_type,val_places in places_dict.items():
    subgroup = folium.plugins.FeatureGroupSubGroup(feature_group, key_type)
    m.add_child(subgroup)
    if type(val_places[0])==list:
        for place in val_places[0]:
            citydf = GetCityDF(place)
            popup_text = '<strong>{}</strong>'.format(place)
            popup = folium.Popup(html=popup_text)

            folium.CircleMarker([citydf.lat, citydf.lng],
                                radius = 8,
                                fill=True,
                                fill_color=val_places[1],
                                color = val_places[1],
                                fill_opacity=0.7,
                                popup=popup).add_to(subgroup)
    elif type(val_places[0])==dict:
        for place,sub_places in val_places[0].items():
            citydf = GetCityDF(place)
            
            popup_text = '<strong>{}:</strong><br>'.format(place)+'<br>    '.join(sub_places)
            popup = folium.Popup(html=popup_text)

            folium.CircleMarker([citydf.lat, citydf.lng],
                                radius = 8,
                                fill=True,
                                fill_color=val_places[1],
                                color = val_places[1],
                                fill_opacity=0.7,
                                popup=popup).add_to(subgroup)     


l = folium.LayerControl().add_to(m)

m.save('where-in-the-world.html')